.actionBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actionBoxListItem {
  display: flex;

  align-items: center;
  justify-content: center;
}

.actionButton {
  width: 2.25rem;
  height: 2.25rem;

  aspect-ratio: 1/1;
  background-color: var(--clr-accent-400);
  border-radius: 4px;
}

.actionButton:disabled {
  background-color: var(--clr-neutral-500);
}
.actionButton:disabled svg {
  fill: var(--clr-neutral-600);
}

.actionButton:not(:disabled):hover {
  cursor: pointer;
}

.actionButton svg {
  max-height: 60%;
  transition: fill 0.2s linear;
}

.actionButton:not(:disabled):hover svg {
  fill: var(--clr-success);
}
