.workspace {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding-inline: 0.5rem;
  background-color: var(--clr-neutral-400);
}

.date {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--clr-base-400);
  min-height: 2.5rem;
}

.datetimePlaceholder {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 2.5rem;
}

.textarea {
  display: block;
  resize: none;
  border: none;
  border-radius: 4px;
}

.textarea:not(:focus-within):not(:read-only):hover {
  cursor: pointer;
}

.textarea:read-only:hover {
  cursor: default;
}

.textarea:focus-within {
  outline: none;
}

.title {
  display: flex;
  align-items: center;
  height: min-content;
  padding: 0.75rem 0.25rem 0.25rem 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.text {
  height: 100%;
  padding: 0 0.25rem 0.25rem 0.5rem;
}

.modeBadge {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 400;
  min-width: 6rem;
  text-align: center;

  color: var(--clr-light-400);
}
.modeBadge.readonly {
  background-color: var(--clr-danger);
}
.modeBadge.edit {
  background-color: var(--clr-success);
}

.autoSaveBadge {
  position: absolute;
  top: 0.5rem;
  color: var(--clr-success);
  font-weight: 400;
  font-size: 0.85rem;
}

.autoSaveBadge.left {
  left: 0.5rem;
}

.autoSaveBadge.right {
  right: 0.5rem;
}

.backlink {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 1.25rem;
}
