:root {
  --clr-base-400: #8294c4;
  --clr-base-500: #acb1d6;
  --clr-base-600: #acb1d684;
  --clr-accent-400: #dbdfea;
  --clr-accent-500: #ffead2;
  --clr-text-400: #6d86cd;
  --clr-neutral-400: #f7f7f7;
  --clr-neutral-500: #c3c3c3;
  --clr-neutral-600: #929292;
  --clr-light-400: #ffffff;
}
