.sidebar {
  min-height: 100%;
  overflow-y: auto;
}

.listItem {
  border-bottom: 1px solid var(--clr-base-600);
}

.listItem:last-child {
  border-bottom: none;
}

.notification {
  padding: 1rem 0.5rem;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 15.625rem;
    border-right: 1px solid var(--clr-base-600);
  }
}
