.mainScreen {
  display: flex;
  flex-grow: 2;
}

.error {
  position: fixed;
  text-align: center;
  inset: 0 0 auto 0;
  background-color: var(--clr-danger);
  color: var(--clr-light-400);
  padding: 0.5rem 0;
  opacity: 0;
  animation: fade-in 0.25s linear 0.5s forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
